<form enctype="multipart/form-data" method="post">
    <dl>
        <dd>
            <input name="profileImage" type="file">
        </dd>
    </dl>
    <input class="btn btn-primary" type="submit" value="Upload" />
</form>